.wrapper {
  display: inline-flex;
  align-items: center;
}

.button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.svg {
  display: block;
  width: 54px;
  height: 30px;
}

.svg :global(#container),
.svg :global(#patches),
.svg :global(#stars),
.svg :global(#button),
.svg :global(#sun),
.svg :global(#moon),
.svg :global(#cloud) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

.toggle:checked + .svg :global(#container) {
  fill: #2b4360;
}

.toggle:checked + .svg :global(#button) {
  transform: translate(28px, 2.333px);
}

.svg :global(#sun) {
  opacity: 1;
}

.toggle:checked + .svg :global(#sun) {
  opacity: 0;
}

.svg :global(#moon) {
  opacity: 0;
}

.toggle:checked + .svg :global(#moon) {
  opacity: 1;
}

.svg :global(#cloud) {
  opacity: 1;
}

.toggle:checked + .svg :global(#cloud) {
  opacity: 0;
}

.svg :global(#stars) {
  opacity: 0;
}

.toggle:checked + .svg :global(#stars) {
  opacity: 1;
}
